<ion-modal-view class="fundo" ng-controller="GameInsertCtrl">
  <ion-header-bar>
    <h1 class="title">Nova rodada</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGameInsert()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="formInsertGame" novalidate>
      <label class="item item-input" ng-class="{ 'has-errors' : formInsertGame.gameDescricao.$invalid && formInsertGame.gameDescricao.$dirty, 'no-errors' : formInsertGame.gameDescricao.$valid && formInsertGame.gameDescricao.$dirty}" >
        <span class="input-label">Descrição</span>
        <input name="gameDescricao" ng-model="game.descricao" type="text" placeholder="Descrição" required>
      </label>
      <label class="item item-input" ng-class="{ 'has-errors' : formInsertGame.gameDate.$invalid && formInsertGame.gameDate.$dirty, 'no-errors' : formInsertGame.gameDate.$valid && formInsertGame.gameDate.$dirty}">
        <span class="input-label">Data</span>
        <input name="gameDate" type="date" ng-model="game.date" placeholder="Data" required>
      </label>
      <div class="col"></div>
      <ion-list show-reorder="shouldShowReorder" can-swipe="listCanSwipe" on-double-tap="canReorder()">
        <ion-item ng-repeat="player in players"  >
          <div class="player" ng-class="{eliminado: player.eliminado}" >{{$index + 1}} - {{player.name}}</div>
          <div class="points">+{{player.pointsPreview}} = {{player.pointsFinal}}</div>
          <ion-option-button class="button-dark" ng-click="eliminate(player,$index)"> Eliminado </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="removeItem($index)"> Excluir </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(player, $fromIndex, $toIndex)" />
        </ion-item>
      </ion-list>
      <button class="button button-block button-balanced" ng-disabled="formInsertGame.$invalid || !canInsert" ng-click="insertGame()">
        Salvar
      </button>
    </form>
    <button class="button button-block button-positive" ng-click="restart()">
      Recomeçar
    </button>
    <button class="button button-block button-positive" ng-click="openPreview()">
      Preview
    </button>
  </ion-content>
</ion-modal-view>
