<ion-view view-title="Game">
  <ion-content>
    <div class="card">
    	<div class="item item-text-wrap">
	    	<h2>{{gameSelected.description}}</h2>
	    	<p>{{gameSelected.date | date: "dd/MM/yyyy"}}</p>
    	</div>
    </div>
    <div class="card">
    	<ion-list>
    		<ion-item ng-repeat='gameResult in gameSelected.gamesResults'>
                <div class="player">{{$index + 1}} - {{gameResult.player.name}}</div>
                <div class="points">{{gameResult.points}}</div>
            </ion-item>
    	</ion-list>
    </div>
  </ion-content>
</ion-view>


