<ion-modal-view view-title="Ranking">
  <ion-header-bar>
    <h1 class="title">Preview</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePreview()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<ion-list>
      <ion-item ng-repeat="player in playersPreview | orderBy: '-points'">
      <div class="colocation"> {{$index + 1}}</div>
       <div class="player"> {{player.name}}</div>
      <div class="points">{{player.points}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>

