<ion-view view-title="Regulamento">
	<ion-content>
		<div class="list card">
			<div class="item item-text-wrap">
				Ocorrerá um evento por mês, entre os meses de janeiro e novembro.		
			</div>
			<div class="item item-text-wrap">
				Em dezembro, ocorrerá a mesa final
			</div>
			<div class="item item-text-wrap">
				Cada evento vale pontos do ranking conforme o número de pessoas que participaram dele, de acordo com a tabela de pontuação anexa (aba Pontuação)
			</div>
			<div class="item item-text-wrap">
				Os eventos comuns ocorrerão com o mínimo de cinco e o máximo de dez jogadores. Caso haja mais de dez jogadores para uma data específica, terão preferência os primeiros colocados no ranking
			</div>
			<div class="item item-text-wrap">
				Para a escolha da data do evento comum de cada mês, será feita uma enquete via grupo do WhatsApp. O dia mais votado será o escolhido, exceto se nenhuma das pessoas desse dia puder ser o anfitrião. Como desempate para a escolha do dia, será usado o ranking, conforme critérios a seguir. O voto de cada pessoa vale o número de sua posição no ranking. Se a pessoa não possuir ranking, o seu voto vale a posição do último colocado + 1. O dia com menos pontos é que será escolhido no desempate. Se for o primeiro evento do ano, vale o ranking do ano anterior
			</div>
			<div class="item item-text-wrap">
				A mesa final terá o mínimo de cinco e o máximo de oito jogadores. Caso haja mais de oito jogadores para uma data específica, terão preferência os primeiros colocados no ranking	
			</div>
			<div class="item item-text-wrap">
				Para a escolha da data da mesa final, será feita uma enquete via grupo do WhatsApp. Cada voto vale o número de pontos no ranking que o jogador possuir. O dia mais votado (conforme o critério anterior) será o escolhido, exceto se nenhuma das pessoas desse dia puderem ser o anfitrião. Como desempate para a escolha do dia, vale o dia com o maior número de pessoas. Como segundo critério, vale o dia que possuir a pessoa melhor ranqueada	
			</div>
			<div class="item item-text-wrap">
				Nos eventos comuns, cada jogador inicia com o mesmo número de fichas
			</div>
			<div class="item item-text-wrap">
				Na mesa final, cada jogador incia com um número de fichas proporcional ao número de pontos no ranking que acumulou ao longo do ano
			</div>
			<div class="item item-text-wrap">
				A inscrição de cada evento custa R$ 20,00, exceto a mesa final, que é gratuita
			</div>
			<div class="item item-text-wrap">
				Se um jogador que confirmou presença (e não tiver desconfirmado) não estiver presente na hora em que a partida for iniciada, receberá as fichas normalmente e ficará dando fold automaticamente até a hora em que chegar (ou até a hora que terminar suas fichas, devido aos folds automáticos nos blinds). O jogador deverá pagar os R$ 20,00 para o PMNL independentemente de se aparecer até o final do jogo ou não. Caso ele apareça antes de terminar suas fichas, ele entra no jogo normalmente com as fichas que ainda tiver e ganhará pontos no ranking normalmente. Caso contrário, para fins de ranking, o torneio contará como se tivesse tido uma pessoa a menos e o dinheiro de inscrição do faltante vai para a mesa final. Se com isso o evento ficar com menos de cinco pessoas, contará no ranking como se fosse de cinco pessoas, mas o faltante não recebe ponto algum
			</div>
			<div class="item item-text-wrap">
				Nos eventos normais, o valor de uma inscrição é guardada para a mesa final. O segundo colocado recebe seu dinheiro da inscrição de volta. O campeão do dia recebe o restante do dinheiro
			</div>
			<div class="item item-text-wrap">
				Na mesa final, a premiação utilizada será a acumulada ao longo do ano. Com o dinheiro arrecadado, serão comprados troféus e/ou medalhas para os três primeiros; o dinheiro restante irá para o pote da mesa final. O campeão da mesa final leva 65% do pote. O segundo lugar leva 25% do pote. O terceiro lugar leva 10% do pote
			</div>
			<div class="item item-text-wrap">
				Os eventos ocorrerão na modalidade Texas Hold'em No-Limit, com os blinds iniciando em 5 & 10. Os blinds subirão a cada 20 minutos, conforme tabela específica
			</div>
			<div class="item item-text-wrap">
				Casos omissos serão decididos pela comissão organizadora
			</div>

		</div>
	</ion-content>
</ion-view>