/* Empty. Add your own CSS if you like */

.points {
	text-align: right;
}

.player {
	float: left;
	text-align: left;
}

.colocation {
	float: left;
	text-align: left;
	font-weight: 700;
	padding-right: 15px;
}
