/* Empty. Add your own CSS if you like */

.points {
	text-align: right;
}

.player {
	float: left;
	text-align: left;
}

.colocation {
	float: left;
	text-align: left;
	font-weight: 700;
	padding-right: 15px;
}
.has-errors {
    border-bottom: 3px solid #cc2511;
}
.no-errors {
    border-bottom: 3px solid #3d8b3d;
}


/*Menu*/

.menu{
  background: rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(116, 143, 104,0.9), rgba(116, 143, 104,0.6)); /* Standard syntax (must be last) */
}

.list{
  padding-top: 50px;
}

.menu .item, .menu .item-content{
  background-color: transparent;
  border-color: transparent;
  color:white;
  opacity: 0.9;
}

.icon{
  margin-right: 10px;
  font-size: 21px
}

.menu .item a:active{
  background-color: #3E423C;
}

.fundo{
  background-color: #D6DCD3;
}

.spinner svg {
  width: 60px !important;
  height: 60px !important;
}

