/* Empty. Add your own CSS if you like */

.points {
	text-align: right;
}

.player {
	float: left;
	text-align: left;
}

.colocation {
	float: left;
	text-align: left;
	font-weight: 700;
	padding-right: 15px;
}
.has-errors {
    border-bottom: 3px solid #cc2511;
}
.no-errors {
    border-bottom: 3px solid #3d8b3d;
}


/*Menu*/

.menu{
  background: rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(33, 94, 103,0.6), rgba(1, 46, 52,0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(116, 143, 104,0.9), rgba(116, 143, 104,0.6)); /* Standard syntax (must be last) */
}

.menu .item, .menu .item-content{
  background-color: transparent;
  border-color: transparent;
  color:white;
}

.menu .list .item{
  border-color: rgba(255, 255, 255, .1);
}

.icon{
  margin-right: 10px;
  font-size: 21px
}

.menu .item a:active{
  background-color: #3E423C;
}

.fundo{
  background-color: #D6DCD3;
}

.spinner svg {
  width: 60px !important;
  height: 60px !important;
}

.erroLogin{
  text-align: center;
  color:red;
}

.center{
  align-items: center;
}

.vote{
  padding-left: 70px;
  padding-right: 70px;
}

.voteYes{
  float:left;
}

.voteNo{
  float:right;
}

.avatar{ /* selector for avatar class*/
    margin: auto;
    margin-top: 8px;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
}
.avatar img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border-radius: 50%; /* read above */
}

.fundo {
  background-image: url(../img/poker.jpg);
  background-color: red;
}